#Ignoring Specified Filetypes:
.env

#Ignoring Extension types:

#Ignoring Specified Directories (by name):
/logs

#Ignoring Specified Directories (by PATH):
/Input/Shayne
/Input/Max

#ignore pycache
*/__pycache__